@import url('https://use.typekit.net/era7rgw.css');
@import url('https://fonts.googleapis.com/css?family=Cabin');

body#bg {
    width: 100%;
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/test_landing_low.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    transition: width 0.5s ease, margin-left .5s;
    -moz-transition: width 0.5s ease, margin-left .5s;
    -webkit-transition: width 0.5s ease, margin-left .5s;
    background-color: black;
    will-change: width, margin-right;
}
  
.jumbotron {
    padding: 4.5rem;
    margin: 0;
    color: inherit;
    background-color: transparent;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    will-change: width;
}

.logo {
    order: 1;
}

.logoimg {
    width: 22rem;
    height: 4rem;
}

.meals {
    order: 2;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    order: 3;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 0 1rem 0 18rem;
}

a.mealofday {
    vertical-align: middle;
    padding: 2.3rem 2rem;
    margin: 0 4rem;
    font-family: "ff-scala-sans-pro", sans-serif;
    font-size: 1.7vw;
    color: white;
}


a.mealofday:hover {
    text-decoration: none;
    text-decoration: bold;
    box-shadow: inset 0 -5px 0 white;
    transition: box-shadow 0.25s ease-in-out;
}

a.current {
    text-decoration: bold;
    box-shadow: inset 0 -5px 0 white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-family: cabin;
    font-size: 25px;
    white-space: nowrap;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#mySidenav{
    will-change: width;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    //CSS
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .logoimg {
        width: 17vw;
        height: 4vh;
    }

    a.mealofday{
        padding: 0;
        margin: 0 2vw;
        font-size: 20px;
    }

    .sidebar{
        padding: 0 1rem 0 10vw;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
        
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .logoimg {
        margin-bottom: 2rem;
    }

    #navbar {
        flex-direction: column;
    }

    a.mealofday{
        padding: 0;
        margin: 0 2vw;
        font-size: 30px;
    }

    /* sidebar relocation need consideration*/

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  }