<!DOCTYPE html>
<html lang="en">
<head>
  {% if title %}
  <title>{{ title }} - Tiger Food</title>
  {% else %}
  <title>TigerMenus</title> 
  {% endif %}

  <meta name="description" content="What's on the menu today at every Princeton dining hall? Visit TigerMenus to find out!">
  <meta name="keywords" content="Princeton, tiger, menus, menu, TigerMenus, TigerMenu, Tiger Menus, Tiger Menu" />

  <meta property="og:title" content="TigerMenus"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://tigermenus.herokuapp.com/"/>
  <meta property="og:image" content="https://tigermenus.herokuapp.com/static/screenshot.png"/>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="/static/logo180x180.png" rel="apple-touch-icon" sizes="180x180" />

  

</head>
<body>

  <div class="jumbotron text-center">
    <h1>Tiger Menus</h1>
    <p id="day">{{ day }}</p>
    <p>Lunch:
      {% for day in nextWeek %}<a href="/lunch{{loop.index0}}">{{ nextWeek[loop.index0] }}</a> {% endfor %}
    </p>
    <p>Dinner:
      {% for day in nextWeek %}<a href="/dinner{{loop.index0}}">{{ nextWeek[loop.index0] }}</a> {% endfor %}
    </p>
  </div>

  {% block content %}{% endblock %}

  <br>

  <div class="container">
    <div class="row">
      <p>Pstttt. Open the <a href="/">homepage</a> in your phone's browser</p>
      <p> On iPhone, click the "box with an arrow pointing up" button on the bottom of Safari</p>
      <p>On Android, click on the "three vertical dots" button on the top right of Chrome</p> 
      <p>Click "Add to Home Screen" and see what happens. :P</p>
      <p>Icon Designed by Alice Wang '19</p>
      <p>Naming credit to Ji-Sung Kim '18 and Sherry Bai '19</p>
      <p>Website created by Alex Xu '19</p>
    </div>
  </div>
    <!--  
    <script>
      var d = new Date();
      var day = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
      document.getElementById("date").innerHTML = day[d.getDay()]; 
    </script> 
    -->
    {% include 'form.html' %}
    {% include 'analytics.html' %}

  </body>
</html>
