<!DOCTYPE html>
<html lang="en">
<head>
  <title>TigerMenus</title>

  <meta name="description" content="What's on the menu today at every Princeton dining hall? Visit TigerMenus to find out!">
  <meta name="keywords" content="Princeton, tiger, menus, menu, TigerMenus, TigerMenu, Tiger Menus, Tiger Menu" />

  <meta property="og:title" content="TigerMenus"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://tigermenus.herokuapp.com/"/>
  <meta property="og:image" content="https://tigermenus.herokuapp.com/static/Tigermenusv2.png"/>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/manifest.json">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicons/favicon.ico">
  <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

</head>
<body style="padding-bottom: 20px;">

  <div class="jumbotron text-center">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScSqW2uIu4-3DO8VsRiwVcKfpU06jtX3mCG9-gw5Ncts6qV5Q/viewform?usp=sf_link">
      <h2>Please fill out this quick 1 question survey!</h2></a>
  </div>

  <div class="jumbotron text-center">
    <a href="/" style="color: #262626; text-decoration: none;"><h1>Tiger Menus</h1></a>
    <p></p>
    <p>
      {% if meal == 'breakfast' %}
      <b><a href="/breakfast/{{i}}">Breakfast</a></b>&nbsp;
      {% else %}
      <a href="/breakfast/{{i}}">Breakfast</a>&nbsp;
      {% endif %}

      {% if meal == 'lunch' %}
      <b><a href="/lunch/{{i}}">Lunch</a></b>&nbsp;
      {% else %}
      <a href="/lunch/{{i}}">Lunch</a>&nbsp;
      {% endif %}

      {% if meal == 'dinner' %}
      <b><a href="/dinner/{{i}}">Dinner</a></b>
      {% else %}
      <a href="/dinner/{{i}}">Dinner</a>
      {% endif %}
    <p>
    <p>
    {% for wd in nextWeek %}
      {% if loop.index0 == i %}
      <b><a href="/{{meal}}/{{loop.index0}}">{{ wd }}</a></b>
      {% else %}
      <a href="/{{meal}}/{{loop.index0}}">{{ wd }}</a>
      {% endif %}
    {% endfor %}
    </p>
  </div>
  {% block content %}{% endblock %}

  <hr>

  <div class="container">
    <footer>
      <p>To add the site to your phone's homescreen, open the <a href="/">homepage</a></p>
      <p>On iPhone, click the <img height="24" src="/static/action.png"/> button on the bottom of Safari</p>
      <p>On Android, click on the <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> button on the top right of Chrome</p>
      <p>Click "Add to Home Screen" <img src="/static/favicons/favicon-32x32.png"/></p>
    </footer>
  </div>

  <hr>

  <div class="container">
    <footer>
      <p>Order a <a href="https://campusdining.princeton.edu/lunchtogo/">bag lunch!</a></p>
      <h4><a href="/about">How to Install</a></h4>
    </footer>
  </div>

    {% include 'form.html' %}
    {% include 'analytics.html' %}

  </body>
</html>
