{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='myabout.css')}}">
{% endblock %}


{% block app_content %}

<div class="container stats">
	<figure class="figure">
		<div align="center"><img src="/static/google3.png" class="img-responsive" alt="Google Analytics"></div>
		<figcaption class="figure-caption text-center">Figure 1. Usage during Spring 2018</figcaption>
	</figure>
</div>

<div class="container stats">
	<figure class="figure">
		<div align="center"><img src="/static/analytics2.png" class="img-responsive" alt="Google Analytics"></div>
		<figcaption class="figure-caption text-center">Figure 2. Usage during Fall 2017</figcaption>
	</figure>
</div>

<div class="container stats">
	<figure class="figure">
		<div align="center"><img src="/static/analytics.png" class="img-responsive" alt="Google Analytics"></div>
		<figcaption class="figure-caption text-center">Figure 3. Usage during Spring 2017</figcaption>
	</figure>
</div>

<div class="container about">
	<p>Credits to Sherry Bai '19 for confirming naming credit to Ji-Sung Kim '19</p>
	<p>Icon Designed by <a href='https://alicepanpan.com/'>Alice Wang '19</a></p>
	<p>Website created by Alex Xu '20</p>
	<p><a href="/api/8/18/2017">API</a> / <a href='/api/6/18/2017/9/10/2017'>API2</a> </p>
	<p><a href="https://github.com/axu2/tiger-menus">GitHub</a></p>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
