{% extends "base.html" %}
{% block content %}

<div class="container">
	<figure class="figure">
		<div align="center"><img src="/static/analytics.png" class="img-responsive" alt="Google Analytics"></div>
		<figcaption class="figure-caption text-center">Lifetime Google Analytics as of 5/16/2017</figcaption>
	</figure>
</div>
<hr>
<div class="container">
	<figure class="figure">
		<div align="center"><img src="/static/meme.png" class="img-responsive" alt="meme"></div>
		<figcaption class="figure-caption text-center">Official Meme</figcaption>
	</figure>
</div>
<hr>
<div class="container">
	<p>Credits to Sherry Bai '19 for confirming naming credit to Ji-Sung Kim '18</p>
	<p>Icon Designed by Alice Wang '19</p>
	<p>Website created by Alex Xu '19</p>
</div>


{% endblock %}
