{% extends "base.html" %}
{% block app_content %}

<div class="container">
	<p>How to install on iOS:</p>
	<div class="row">
    <div class="col-sm-3 col-xs-6">
			<figure class="figure">
				<div align="center"><img src="/static/i1.png" class="img-responsive" alt="meme"></div>
				<figcaption class="figure-caption text-center"></figcaption>
			</figure>
		</div>
		<div class="col-sm-3 col-xs-6">
			<figure class="figure">
				<div align="center"><img src="/static/i2.png" class="img-responsive" alt="meme"></div>
				<figcaption class="figure-caption text-center"></figcaption>
			</figure>
		</div>
		<div class="col-sm-3 col-xs-6">
			<figure class="figure">
				<div align="center"><img src="/static/i3.png" class="img-responsive" alt="meme"></div>
				<figcaption class="figure-caption text-center"></figcaption>
			</figure>
		</div>
		<div class="col-sm-3 col-xs-6">
			<figure class="figure">
				<div align="center"><img src="/static/i4.png" class="img-responsive" alt="meme"></div>
				<figcaption class="figure-caption text-center"></figcaption>
			</figure>
		</div>
	</div>
</div>
<hr>

<div class="container">
	<p>How to install on Android:</p>
	<div class="row">
    <div class="col-sm-3 col-xs-6">
			<figure class="figure">
				<div align="center"><img src="/static/droid1.png" class="img-responsive" alt="meme"></div>
				<figcaption class="figure-caption text-center"></figcaption>
			</figure>
		</div>
		<div class="col-sm-3 col-xs-6">
			<figure class="figure">
				<div align="center"><img src="/static/droid2.png" class="img-responsive" alt="meme"></div>
				<figcaption class="figure-caption text-center"></figcaption>
			</figure>
		</div>
		<div class="col-sm-3 col-xs-6">
			<figure class="figure">
				<div align="center"><img src="/static/droid3.png" class="img-responsive" alt="meme"></div>
				<figcaption class="figure-caption text-center"></figcaption>
			</figure>
		</div>
		<div class="col-sm-3 col-xs-6">
			<figure class="figure">
				<div align="center"><img src="/static/droid4.png" class="img-responsive" alt="meme"></div>
				<figcaption class="figure-caption text-center"></figcaption>
			</figure>
		</div>
	</div>
</div>

{% endblock %}
