{% extends "base.html" %}

{% block app_content %}

{% block title %}
TigerMenus
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='mylanding.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='mylanding.js') }}"></script>
{% endblock %}

{% block navbar %}
<div id="navbar">
  <div class="logo">
    <a href="/landing" style="color: #262626; text-decoration: none;">
      <img class="logoimg" src="/static/logowhite3.png" alt="tigermenus-logo">
    </a>
  </div>

  <div class="meals">
    <a class="mealofday" href="/breakfast/{{i}}">Breakfast</a>
    <a class="mealofday" href="/lunch/{{i}}">Lunch</a>
    <a class="mealofday" href="/dinner/{{i}}">Dinner</a>
  </div>

  <div class="sidebar" onclick="openNav()">&#9776;</div>
</div>
<div class="jumbotron"></div>
</div>
{% endblock %}

{% block content %}
<section id="landing">
  Know what you will eat today.
  <a href="/" class="btn"><button class="button">Check Menu</button></a>
</section>
{% endblock %}
{% endblock %}