{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <h3>Butler</h3>
      {% for item in wucox %}
          {{ item | safe }}
      {% endfor %}
    </div>
    <div class="col-sm-2">
      <h3>CJL</h3>
      {% for item in cjl %}
          {{ item | safe }}
      {% endfor %}
    </div>
    <div class="col-sm-2">
      <h3>Whitman</h3>
      {% for item in whitman %}
          {{ item | safe }}
      {% endfor %}
    </div>
    <div class="col-sm-2">
      <h3>Ro / Ma</h3>
      {% for item in roma %}
          {{ item | safe }}
      {% endfor %}
    </div>
    <div class="col-sm-2">
      <h3>Forbes</h3>
      {% for item in forbes %}
          {{ item | safe }}
      {% endfor %}
    </div>
    <div class="col-sm-2">
      <h3>Grad</h3>
      {% for item in grad %}
          {{ item | safe }}
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
