{% extends "base.html" %}

{% block app_content %}

<div class="container">
  <div class="row">
    {% for name, items in cols %}
    <div class="col-sm-2">
      <h3>{{ name }}</h3>
      {% for item in items %}
          {% if item[0] == "-" %}
            <p><b>{{ item }}</b></p>
          {% else %}
            <p>{{ item }}</p>
          {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<hr>

<div class="container">
  <footer>
    <p>To add the site to your phone's homescreen, open the <a href="/">homepage</a></p>
    <p>On iPhone, click the <img height="24" src="/static/action.png"/> button on the bottom of Safari</p>
    <p>On Android, click on the <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> button on the top right of Chrome</p>
    <p>Click "Add to Home Screen" <img src="/static/favicons/favicon-32x32.png"/></p>
  </footer>
  <h4><b><a href="/install">Install Instructions (Screenshots)</a></b></h4>
</div>

<hr>

<div class="container">
  <footer>
    <p><a href="https://dining.princeton.edu/">Official Campus Dining Website</a></p>
    <p>Order a <a href="https://campusdining.princeton.edu/lunchtogo/">bag lunch!</a></p>
    <p><a href="https://dining.princeton.edu/where-eat/hours-operation">Campus Dining Hours</a></p>
    <p><a href="https://services.jsatech.com/login.php?cid=69">TigerCard Balance</a> (Swipes+Paw Points+Dining Points)</p>
    <p>To get on freefood listserv, email "listserv at princeton dot edu" with "subscribe freefood" in the body.</p>
  </footer>
</div>

<hr>

<div class="container">
  <footer>      
    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSd-i9YUoMUk_xJ6l3cNoSl04KKymQ8CAHID9CbwhJpgNn-2QQ/viewform?usp=sf_link">
      Feedback
    </a></p>
    <p><a href="https://github.com/axu2/tiger-menus">Code (GitHub)</a> Please contribute! Ideas/enhancements/bugs in the issues tab!</p>
    <p><a href="/about">About</a></p>
  </footer>
</div>

{% endblock %}
