{% extends "base.html" %}
{% block app_content %}

<div class="container">
	<figure class="figure">
		<div align="center"><img src="/static/google3.png" class="img-responsive" alt="Google Analytics"></div>
		<figcaption class="figure-caption text-center">Usage during Spring 18</figcaption>
	</figure>
</div>

<hr>

<div class="container">
	<figure class="figure">
		<div align="center"><img src="/static/analytics2.png" class="img-responsive" alt="Google Analytics"></div>
		<figcaption class="figure-caption text-center">Usage during Fall 17</figcaption>
	</figure>
</div>

<hr>

<div class="container">
	<figure class="figure">
		<div align="center"><img src="/static/analytics.png" class="img-responsive" alt="Google Analytics"></div>
		<figcaption class="figure-caption text-center">Usage during Spring 17</figcaption>
	</figure>
</div>

{% endblock %}
